@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ForbiddenAccess>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<main class="jumbotron">
    <section class="container">
        <p>Sorry, but it seems that you don't have access to this page ☹</p>
    </section>
</main>