@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<picture>
    <img src="@Model.Logo.Url()" class="img-banner"/>
</picture>
<main class="jumbotron">
    <section class="container">
        @Model.MainContent
        <div id="newestProjects">
            @Umbraco.RenderMacro("listNewestProjects", new { numOfProjects = 5 })
        </div>
    </section>
    <footer class="container">
        @Model.Footer
    </footer>
</main>
